<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [4]:
data[(data["Year"]==1996)].groupby("Sex")["Age"].min()

Sex
F    12.0
M    14.0
Name: Age, dtype: float64

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [5]:
data.shape

(271116, 15)

In [6]:
data["ID"][data["Year"]==2000].value_counts().head()

45312     8
117009    8
125343    8
122394    8
24174     8
Name: ID, dtype: int64

In [7]:
data_ad_2 = data[data["Year"]==2000].copy()

data_ad_2.drop_duplicates("ID",inplace=True)

In [8]:
data_ad_2.shape

(10647, 15)

In [9]:
# male gymnasts among all the male participants of the 2000 Olympics
data_ad_2["ID"][data_ad_2["Event"]=="Gymnastics Men's Individual All-Around"].count() / data_ad_2["ID"][data_ad_2["Sex"]=="M"].count()

0.014743882048943608

In [10]:
[n for n in data_ad_2["Event"].unique() if n[:3]=="Gym"]

["Gymnastics Men's Individual All-Around",
 "Gymnastics Women's Individual All-Around"]

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [11]:
[n for n in data_ad_2["Event"].unique() if n[:3]=="Bas"]

["Basketball Men's Basketball",
 "Baseball Men's Baseball",
 "Basketball Women's Basketball"]

In [13]:
data_ad_2["Height"][data_ad_2["Event"]=="Basketball Women's Basketball"].describe().head(3)

count    142.000000
mean     182.387324
std        9.139462
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [14]:
data_2002 = data[data["Year"]==2002].copy()

In [15]:
data_2002["Weight"].max()

123.0

In [16]:
data_2002[["Event","ID"]][data_2002["Weight"]==data_2002["Weight"].max()]

                     Event     ID
99154  Bobsleigh Men's Two  50171

In [17]:
data_2002[data_2002["ID"]==50171]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [18]:
data["Year"][data["Name"]=="Pawe Abratkiewicz"].value_counts()

1998    2
2002    2
1992    2
Name: Year, dtype: int64

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [19]:
data_2000 = data[data["Year"]==2000].copy()

In [20]:
list_of_tennis_events = [n for n in data_ad_2["Event"].unique() if (("ennis" in n) and ("able" not in n))]

In [21]:
data_2000_tennis = data_2000[data_2000["Event"].isin(list_of_tennis_events)]

In [22]:
data_2000_tennis["Event"].value_counts()

Tennis Women's Singles    64
Tennis Men's Singles      64
Tennis Women's Doubles    62
Tennis Men's Doubles      58
Name: Event, dtype: int64

In [23]:
data_2000_tennis["NOC"].unique()

array(['MEX', 'RSA', 'MAR', 'CRO', 'BEL', 'JPN', 'BLR', 'INA', 'CZE',
       'ITA', 'IND', 'ZIM', 'NED', 'BOL', 'USA', 'ARG', 'FRA', 'ESP',
       'BRA', 'GBR', 'GRE', 'VEN', 'PAR', 'RUS', 'AUS', 'ROU', 'HAI',
       'SUI', 'GER', 'SVK', 'CAN', 'KOR', 'SWE', 'BAH', 'HUN', 'LUX',
       'SLO', 'TPE', 'CHN', 'CRC', 'POR', 'CHI', 'COL', 'DEN', 'AUT',
       'BEN', 'NOR', 'THA', 'ARM', 'UKR', 'UZB', 'SCG'], dtype=object)

In [24]:
data_2000_tennis.groupby("NOC")["Medal"].agg("count")["AUS"]

2

In [25]:
data_2000_tennis["Medal"][data_2000_tennis["NOC"]=="AUS"]

56848        NaN
56849        NaN
95493        NaN
102491       NaN
161587       NaN
187999       NaN
192756       NaN
195761       NaN
231031       NaN
262820    Silver
262831    Silver
Name: Medal, dtype: object

In [26]:
data_2000_tennis["Medal"][data_2000_tennis["NOC"]=="AUS"].count()

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [27]:
data_2016 = data[data["Year"]==2016].copy()

In [28]:
[n for n in data_2016["NOC"].unique() if n[0]=="S"]
#Serbia = SRB
#Switzerland =  SWZ

['SRI',
 'SUI',
 'SKN',
 'SAM',
 'SGP',
 'SWE',
 'SRB',
 'SUD',
 'SYR',
 'SEY',
 'SVK',
 'SLO',
 'STP',
 'SEN',
 'SOL',
 'SSD',
 'SLE',
 'SUR',
 'SWZ',
 'SOM',
 'SMR']

In [29]:
data_2016["Medal"][data_2016["NOC"]=="SRB"].dropna().count()

54

In [30]:
data_2016["Medal"][data_2016["NOC"]=="SUI"].dropna().count()

11

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [31]:
data_2014 = data[data["Year"]==2014].copy()

In [32]:
def create_age_categories(x):
    
    if x >=15: 
        if x<25:
            return "[15-25)"
        elif x<35:
            return "[25-35)"

        elif x<=45:
            return "[35-45]"

        elif x<=55:
            return "[45-55]"

        else:
            return "oops"

In [33]:
data_2014["age_cat"] = data_2014["Age"].apply(lambda x: create_age_categories(x))

In [34]:
data_2014[["Age","age_cat"]].sample(10)

         Age  age_cat
75735   25.0  [25-35)
261753  31.0  [25-35)
179762  41.0  [35-45]
218740  26.0  [25-35)
127906  27.0  [25-35)
268767  29.0  [25-35)
268413  34.0  [25-35)
222183  29.0  [25-35)
57584   27.0  [25-35)
45936   30.0  [25-35)

In [35]:
data_2014["age_cat"].value_counts()

[25-35)    2594
[15-25)    2027
[35-45]     266
[45-55]       4
Name: age_cat, dtype: int64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [36]:
"Lake Placid" in data["City"][data["Season"] == "Summer"].unique()

False

In [37]:
"Sankt Moritz" in data["City"][data["Season"] == "Winter"].unique()

True

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [65]:
data_1996 = data[data["Year"]==1996].copy()
data_2016 = data[data["Year"]==2016].copy()

In [66]:
data_2016.Sport.value_counts().index.size

34

In [67]:
data_1996.Sport.value_counts().index.size

31

In [52]:
1995 in data.Year

True

In [44]:
data[data["Year"]==1995]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [64]:
data.Sport.value_counts()
#66

Athletics                38624
Gymnastics               26707
Swimming                 23195
Shooting                 11448
Cycling                  10859
Fencing                  10735
Rowing                   10595
Cross Country Skiing      9133
Alpine Skiing             8829
Wrestling                 7154
Football                  6745
Sailing                   6586
Equestrianism             6344
Canoeing                  6171
Boxing                    6047
Speed Skating             5613
Ice Hockey                5516
Hockey                    5417
Biathlon                  4893
Basketball                4536
Weightlifting             3937
Water Polo                3846
Judo                      3801
Handball                  3665
Art Competitions          3578
Volleyball                3404
Bobsleigh                 3058
Tennis                    2862
Diving                    2842
Ski Jumping               2401
                         ...
Badminton                 1457
Nordic Combined           1344
Freestyle Skiing           937
Snowboarding               936
Synchronized Swimming      909
Baseball                   894
Rhythmic Gymnastics        658
Taekwondo                  606
Beach Volleyball           564
Triathlon                  529
Softball                   478
Curling                    463
Rugby Sevens               299
Golf                       247
Skeleton                   199
Tug-Of-War                 170
Rugby                      162
Trampolining               152
Polo                        95
Lacrosse                    60
Alpinism                    25
Cricket                     24
Military Ski Patrol         24
Croquet                     19
Motorboating                17
Racquets                    12
Jeu De Paume                11
Roque                        4
Basque Pelota                2
Aeronautics                  1
Name: Sport, Length: 66, dtype: int64

In [50]:
data.Year.value_counts().index

Int64Index([1992, 1988, 2000, 1996, 2016, 2008, 2004, 2012, 1972, 1984, 1976,
            1968, 1964, 1952, 1960, 1980, 1948, 1936, 1956, 1924, 1928, 2014,
            2010, 2006, 1920, 2002, 1912, 1998, 1932, 1994, 1908, 1900, 1906,
            1904, 1896],
           dtype='int64')